* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  border: 1px solid black;
  grid-row: 1 / 4;
  background-color: rgb(50, 50, 197);
}

header {
  border: 1px solid black;
}

main {
  border: 1px solid black;
  background-color: gray;
}